# Summer Olympics Data Analysis Assignment

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("summer.csv")

In [2]:
df.head(31165)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

### 1. In how many cities Summer Olympics is held so far?

In [ ]:
len(df['City'].unique())

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [ ]:
d={}
rows = 20

for i in range(rows):
    #d[str(df.iloc[[i], [2]])] += 1 if df.iloc[[i], [9]] == "Gold" else 0
    print(str(df.iloc[[i], [2]]))

print(d)

### 3. Which sport is having most number of medals so far? (Top 5)

### 4. Which player has won most number of medals? (Top 5)

### 5. Which player has won most number Gold Medals of medals? (Top 5)

### 6. In which year India won first Gold Medal in Summer Olympics?

### 7. Which event is most popular in terms on number of players? (Top 5)

### 8. Which sport is having most female Gold Medalists? (Top 5)